# --------------------------------------- General Variables ----------------------------------------
COLLECTION_SCOPE=XXXX

# ----------------------------- Firebase Admin Environment Variables -------------------------------
FIREBASE_PROJECT_ID=XXXX
FIREBASE_CLIENT_EMAIL=XXXX
FIREBASE_PRIVATE_KEY=XXXX
